@import (reference) "../../styles/variables/index.less";

.iqvia_modals {
  &.full-height {
    .ant-modal .ant-modal-content {
      height: 100%;

      .ant-modal-body {
        padding: 0;
      }
    }
  }

  .alert {
    position: absolute;
    bottom: 88px;
  }

  height: auto;

  .ant-modal {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: -24px;
    overflow: auto;

    .ant-select-arrow {
      margin-top: -12px;
    }

    .ant-select-selection-selected-value {
      color: @dark;
      font-family: @MediumFont;
    }

    .ant-modal-close {
      left: 0;

      .anticon > svg {
        font-size: 24px;
        color: @dark;
        margin-top: 14px;
      }
    }

    .ant-modal-header {
      border-bottom: none;
    }

    .ant-modal-title {
      margin-left: 24px;
      color: @dark;
      font-size: @18px;
      font-family: @DemiMediumFont;
    }

    .ant-modal-content {
      border-radius: 0px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .ant-modal-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-top: 0;
        overflow: auto;

        .main_content_holder {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        .footer {
          position: fixed;
          bottom: 0px;
          right: 0;
          left: 6%;
          height: 72px;
          background: @white;
          border-top: 1px solid @silver;
          z-index: 1001;
          width: auto;
          .ant-row {
            margin: 0;
          }
        }
      }
    }

    .ant-modal-footer {
      padding: 0;
      z-index: 1;
      background-color: white;
    }

    .iqvia-btn {
      font-family: @MediumFont;

      &.cancel {
        color: @primary-color;
        background-color: @white;
        border-color: @primary-color;
      }

      &.cancel:hover {
        border-color: rgba(@primary-color, 0.8);
        color: rgba(@primary-color, 0.8);
      }

      &.delete {
        color: @white;
        background-color: @warning-color;
        border-color: @warning-color;
      }

      &.delete:hover {
        border-color: rgba(@warning-color, 0.2);
        color: @white;
      }
    }
  }
}

#iv-container {
  display: none;
}
.superAdmin-new-user-failure-message {
  z-index: 1;
  left: unset;
  top: unset;
  width: 479px;
  bottom: 72px;
  height: fit-content;
}
