@import "../../styles/variables/index.less";

.patient-profile {
  position: absolute;
  top: 64px;
  width: 100%;

  .master-form {
    height: auto;
    margin-left: 250px;
    width: calc(100% - 250px);

    .patientProfile-success-msg {
      width: 100%;
      z-index: 12222;
      top: 65px;
    }
  }

  .insurance-form-error {
    position: fixed;
    top: 65px;
    z-index: 2222;
  }

  .tabs .ant-tabs-bar .ant-tabs-nav-container .ant-tabs-nav-scroll {
    padding-top: @14px;
    margin-left: @8px;
  }
  .tabs .ant-tabs-bar .ant-tabs-extra-content {
    margin-top: @4px;
    margin-right: @16px;
  }
  .tabs .ant-tabs-bar.ant-tabs-top-bar {
    position: fixed;
    width: calc(100% - 250px);
    z-index: 8;
    background-color: white;
  }
  .patient-photo {
    width: 100px;
    height: 100px;
  }

  .tabs .ant-tabs-bar .ant-tabs-nav-container {
    .ant-tabs-nav .ant-tabs-ink-bar {
      background-color: @dark;
    }
  }
  .tabs .ant-tabs-bar .ant-tabs-nav-container {
    .ant-tabs-nav .ant-tabs-tab-active {
      color: @dark;
    }
  }

  .tabs .ant-tabs-bar .ant-tabs-nav-container {
    .ant-tabs-nav .ant-tabs-tab:hover {
      color: @dark;
    }
  }
  .tabs .ant-tabs-bar .ant-tabs-nav-container {
    .ant-tabs-nav .ant-tabs-tab-active:hover {
      color: @dark;
    }
  }
}
.Detail {
  position: fixed;
  top: 64px;
  border-right: 1px solid @silver;
  height: calc(100vh - 64px);
  max-width: 250px;
  .patient-detail {
    padding: 16px;
    width: 100%;
    min-width: 250px;
  }

  .patient-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
