@import "../../styles/variables/index.less";

.dashboard {
  position: relative;
  top: @64px;
  display: flex;
  flex-direction: column;
  // width: 80%;
  margin: 0 24px;

  .dashboard-success-msg {
    top: 65px;
    bottom: 0px;
  }
  .search-option {
    max-width: 250px;
  }
  .filledForm_card {
    border: 1px solid black;
    max-width: @250px;
    padding: 23px;
  }
  .program_card {
    border: 1px solid black;
    max-width: @250px;
    padding: 23px;
  }

  .programs ul {
    list-style-type: none;
    padding: 0;
  }

  .programs li {
    padding-bottom: @4px;
  }
  .programs {
    width: @250px;
    height: auto; //margin: @16px;
  }

  .programs.ant-card {
    margin-right: @16px;
    margin-bottom: @16px;
    border: 1px solid @silver;
    min-width: 304px !important;
  }

  .programs .ant-card-body {
    padding: @16px;
  }

  .programData {
    font-family: @MediumFont;
    color: @dark;
  }

  .super-admin-tabs .ant-tabs-bar .ant-tabs-nav-container {
    .ant-tabs-nav .ant-tabs-ink-bar {
      background-color: @dark;
    }
  }
  .super-admin-tabs .ant-tabs-bar .ant-tabs-nav-container {
    .ant-tabs-nav .ant-tabs-tab-active {
      color: @dark;
    }
  }

  .super-admin-tabs .ant-tabs-bar .ant-tabs-nav-container {
    .ant-tabs-nav .ant-tabs-tab:hover {
      color: @dark;
    }
  }
  .super-admin-tabs .ant-tabs-bar .ant-tabs-nav-container {
    .ant-tabs-nav .ant-tabs-tab-active:hover {
      color: @dark;
    }
  }

  .addtraker-success-msg {
    position: fixed;
    top: 65px;
    z-index: 12;
  }
}

.no-internet-img-container {
  width: 130px;
  height: 130px;
  background: #b7b7b759;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  .no-internet-img {
    svg {
      width: 70px;
      height: 70px;
    }
  }
}
