@import "../../styles/variables/index.less";

.edit-patient-attribute {
  padding-top: 70px;
  width: 80%;
  margin: 0 25px;
  //   position: relative;
  //   top: 70px;
  .attribute-input {
    max-width: 500px;
  }
  .textarea {
    max-width: 500px;
  }
  .deleteIcon {
    height: 31px;
    background: #b7b7b759;
    width: 31px;
    border-radius: 50%;
    margin-top: 8px;
  }
  .charity {
    min-width: 40%;
  }
  .donot-display {
    display: none;
  }
  .ant-upload-list.ant-upload-list-text {
    display: none;
  }
}
.attribute-value {
  min-width: 100px;
}

.patient-attribute {
  padding-top: 70px;
  width: 80%;
  margin: 0 25px;
  padding-bottom: 100px;
  //   position: relative;
  //   top: 70px;
  .min-width-230 {
    min-width: 230px;
  }
  .min-width-140 {
    min-width: 140px;
  }
  .no-charity-provider {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #b7b7b759;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
