@import (reference) "../../../styles/variables/index.less";

.global-modal {
  &.event-modal {
    .ant-modal .ant-modal-content {
      height: 100%;
    }
    .ant-modal-body {
      overflow: auto;
    }
    .error {
      width: 94%;
      top: unset;
      left: unset;
      bottom: 72px;
    }
  }
  &.full-height {
    .ant-modal .ant-modal-content {
      height: 100%;

      .ant-modal-body {
        padding: 0;
      }
    }
  }
  height: auto;

  .ant-modal {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: -24px;
    overflow: hidden;
    background-color: @white;

    .ant-switch-checked {
      background-color: @dark;
    }

    .ant-radio-button-wrapper-checked {
      > span {
        color: @white;
      }
    }

    .ant-select-arrow {
      margin-top: -12px;
    }
    .ant-select-dropdown {
      z-index: 4;
    }

    .ant-select-dropdown {
      z-index: 4;
    }

    .ant-select-selection-selected-value {
      color: @dark;
      font-family: @MediumFont;
    }

    .ant-modal-close {
      left: 0;

      .anticon > svg {
        font-size: 24px;
        color: @dark;
        margin-top: 14px;
      }
    }

    .ant-modal-header {
      border-bottom: none;
    }

    .ant-modal-title {
      margin-left: 24px;
      color: @dark;
      font-size: @18px;
      font-family: @DemiMediumFont;
    }

    .ant-modal-content {
      border-radius: 0px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: unset;

      .ant-modal-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-top: 0;
        background: @white;
        overflow: auto;

        .main_content_holder {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        .footer {
          position: fixed;
          bottom: 0px;
          right: 0;
          left: 6%;
          height: 72px;
          background: @white;
          border-top: 1px solid @silver;
          z-index: 1001;
          width: auto;
          .ant-row {
            margin: 0;
          }
        }
      }
    }

    .ant-modal-footer {
      padding: 0;
      z-index: 1;
      background-color: white;
    }

    .iqvia-btn {
      font-family: @MediumFont;
    }
  }
}

// .tracker-table {
//   overflow: auto;
//   padding-bottom: 50px;
// }
