@import "../../styles/variables/index.less";

.response {
  padding-top: 45px;
  .form-response {
    padding-top: 50px;
    margin: 0 25px;
    .patient-photo {
      width: 100px;
      height: auto;
      margin-left: 16px;
    }
    .attachment-filename {
      min-width: 50%;
    }
    .min-width-300 {
      min-width: 300px;
    }
    .min-width-350 {
      min-width: 350px;
    }
  }
  .menubar {
    position: fixed;
    top: 113px;
    width: 82%;
    z-index: 111;
    background: white;
  }

  .ant-menu-item {
    color: @subdued;
    font-family: @MediumFont;
    > a {
      color: @subdued;

      &:hover {
        color: @dark;
      }
    }
    padding: 1px 21px;
  }
  .ant-menu-item.ant-menu-item-active {
    border-bottom: 2px solid @dark;
    > a {
      color: @dark;

      &:hover {
        color: @dark;
      }
    }
  }
  .ant-menu-item-selected {
    border-bottom: 2px solid @dark;
    color: @dark;
    &:hover {
      border-bottom: 2px solid @dark;
      color: @dark;
    }
    > a {
      color: @dark;

      &:hover {
        color: @dark;
      }
    }
  }
  .ant-menu-submenu.ant-menu-submenu-open.ant-menu-submenu-active {
    border-bottom: 2px solid @dark;
  }
  .ant-menu-submenu.ant-menu-submenu-popup {
    .ant-menu.ant-menu-sub.ant-menu-vertical {
      .ant-menu-item.ant-menu-item-active {
        > a {
          color: @dark;

          &:hover {
            color: @dark;
          }
        }
      }
    }
  }
}

.checkmark {
  width: 56px;
  height: 56px;
  display: block;
  stroke-width: 2;
  stroke: #7ac142;
  stroke-miterlimit: 10;
  margin: auto;
  padding-bottom: 13px;
  animation: 0.2s ease-in-out 0s forwards, scale 0.2s ease-in-out 0.4s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.2s cubic-bezier(0.65, 0, 0.45, 1) 0s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

.caseDiscription {
  max-width: 70%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.ant-menu-item {
  color: @subdued;
  font-family: @MediumFont;
  > a {
    color: @subdued;

    &:hover {
      color: @dark;
    }
  }
  padding: 1px 21px;
}
