@import "../../styles/variables/index.less";

.fixed_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 9;

  .ant-dropdown-menu {
    z-index: 10;
    position: fixed;
    top: 60px;
  }
}

.addButton.ant-btn {
  margin-right: @24px;
  background: #005587;
  width: 92px;
  height: 40px;
  border-radius: 20px;
  color: @white;
  border: 0;
}
.add-button-menu {
  margin-top: @16px;
}
.addFormButton {
  margin-right: @24px;
  background: #005587;
  width: 115px;
  height: 40px;
  border-radius: 20px;
  color: @white;
  border: 0;
}

.addFormButton.ant-btn:hover {
  margin-right: @24px;
  background: #005587;
  width: 115px;
  height: 40px;
  border-radius: 20px;
  color: @white;
  border: 0;
}

.userDpholder {
  width: 32px;
  height: 32px;
  z-index: 111;
}
