@import "../../styles/variables/index.less";

.container {
  position: relative;
  top: @64px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;

  .addinsurance {
    margin-top: 50px;
    flex-grow: 1;
  }
  .menubar {
    position: fixed;
    top: 54px;
    width: 80%;
    z-index: 111;
    background: white;
  }
  .insurance-form {
    position: absolute;
    top: 100px;
    width: 100%;
    padding-bottom: 80px;
  }
}

.no-internet-img-container {
  width: 130px;
  height: 130px;
  background: #b7b7b759;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  .no-internet-img {
    svg {
      width: 70px;
      height: 70px;
    }
  }
}
