@white: #ffffff;
@white-10: rgba(255, 255, 255, .1);
@orangered: #ff530d;
@grass: #43b02a;
@lower-background-color: #26d4d7d9;
@subdued: #aab0b3;
@bg-grey: rgba(0, 0, 0, 0.2);
@silver-15: rgba(212, 215, 217, 0.15);
@silver-25: rgba(212, 215, 217, 0.25);
@silver-30: rgba(212, 215, 217, 0.3);
@silver: #d4d7d9;
@dark : #2b3a42;
@dark-50: rgba(43, 58, 66, 0.5);
@label-color: #7f888d;
@tag-background: #d4d7d9;
@checkbox-color : @dark;
@radio-dot-color : @dark;
@radio-button-color : @dark;
@radio-button-hover-color : @dark;
@radio-button-active-color : @dark;
@primary-color: #32b9d1;
@topbar-bg-color: @primary-color;
@warning-color: #ff530d;
@pure-black: #000000;
@successfull-color: #43b02a;
@warning-background-color: #fff8f5;
@cool-grey: #8fa3aa;
@silver-10: rgba(212, 215, 217, 0.1);
@light-blue-grey: #ccedf3;
@light-blue-grey-50: rgba(204, 237, 243, 0.5);
@deep-sea-blue: #005587;
@very-light-green: #e3f3df;
@ice-blue: #f2f3f3;
@orangered: #ff530d;
@black: #000000;
@steel-grey: @label-color;
@warm-grey: #979797;