@import "../../styles/variables/index.less";

.editForm {
  position: relative;
  top: @64px;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-bottom: 100px;

  .form-response {
    width: 80%;
    margin: 0;
  }

  .menubar {
    position: fixed;
    top: 113px;
    width: 82%;
    z-index: 111;
    background: white;
    margin-top: 9px;
  }
  .insurance-form {
    width: 100%;
    height: calc(100% - 70px);
    margin: 0 25px;
    padding-top: 30px;
    padding-bottom: 80px;
  }
  .deleteIcon {
    height: 31px;
    background: #b7b7b759;
    width: 31px;
    border-radius: 50%;
    margin-top: 8px;
  }
  .image-name {
    height: 45px;
    padding: 11px;
    border: solid 1px #a9b0b3;
    border-radius: 3px;
    margin-right: 23px;
  }
  .ant-upload-list.ant-upload-list-text {
    display: none;
  }
  .ant-upload-list-item-info {
    display: none;
  }
  .donot-display {
    display: none;
  }
  .close-icon {
    position: absolute;
    left: 208px;
    top: -15px;
  }
  .close-icon svg {
    height: 30px;
    width: 20px;
  }
  .attachment-name .ant-upload {
    margin-right: 11px;
  }
  .ant-menu-item {
    color: @subdued;
    font-family: @MediumFont;
    > a {
      color: @subdued;
    }
    padding: 1px 24px;
  }
  .ant-menu-item.ant-menu-item-active {
    border-bottom: 2px solid @dark;
    > a {
      color: @dark;
    }
  }
  .ant-menu-item-selected {
    border-bottom: 2px solid @dark;
    color: @dark;
    &:hover {
      border-bottom: 2px solid @dark;
      color: @dark;
    }
    > a {
      color: @dark;

      &:hover {
        color: @dark;
      }
    }
  }

  .uploading-docs-btn {
    width: 140px;
  }

  .userDp {
    width: 200px;
    height: 200px;
  }

  .photo-wrapper {
    float: left;
  }

  .loading-icon {
    font-size: 25px;
    padding-top: 16px;
  }
}
