@import "../../styles/variables/index.less";

.insurance-master-form {
  .ant-menu-item {
    color: @subdued;
    font-family: @MediumFont;
    > a {
      color: @subdued;
    }
    padding: 1px 10px;
  }
  .ant-menu-item.ant-menu-item-active {
    border-bottom: 2px solid @dark;
    > a {
      color: @dark;
    }
  }
  .ant-menu-item-selected {
    border-bottom: 2px solid @dark;
    color: @dark;
    &:hover {
      border-bottom: 2px solid @dark;
      color: @dark;
    }
    > a {
      color: @dark;

      &:hover {
        color: @dark;
      }
    }
  }
  .insurance-form-error{
    position: fixed;
    top: 65px;
    z-index: 2222;
  }

  .loading-icon{
    font-size: 50px;
    padding-top: 16px;
  }
}
