@import "../../styles/variables/index.less";

.userDp {
  width: @100px;
  height: @100px;
}

.patient {
  width: @304px;
  height: @120px;
  font-family: @MediumFont;
  color: @dark;
  &.ant-card-bordered {
    min-width: auto;
  }
  &.selected {
    &.ant-card {
      margin-right: @16px;
      margin-bottom: @16px;
      border: 1px solid @dark;
    }
  }
}

.patientInfo {
  font-size: @18px;
  font-family: @MediumFont;
}

.patient.ant-card {
  margin-right: @16px;
  margin-bottom: @16px;
  border: 1px solid @silver;
}

.patientDp {
  width: @40px;
  height: @40px;
  border-radius: 50%;
}

.patients {
  list-style-type: none;
  margin-left: @16px;
}

.patient.ant-card.ant-card-bordered {
  min-width: 0;
}
.patient.ant-card:hover {
  margin-right: @16px;
  margin-bottom: @16px;
  border: 1px solid @dark;
}

.patient .ant-card-body {
  padding: @16px;
}

.selectPatient {
  height: @40px;
  position: absolute;
  right: @12px;
}

.no-form-filled {
  border-radius: 50%;
  background-color: #b7b7b759;
  width: 150px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-internet-img-container {
  width: 130px;
  height: 130px;
  background: #b7b7b759;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  .no-internet-img {
    svg {
      width: 70px;
      height: 70px;
    }
  }
}

.loading-icon {
  position: relative;
  top: @64px;
  font-size: 50px;
  padding-top: 16px;
}
.upload-tracker-btn {
  width: 140px;
}
