@import "../../styles/variables/index.less";

.attachment {
  max-width: 40%;
}
.add-form-element {
  .ant-upload-list.ant-upload-list-text {
    display: none;
  }
  .ant-upload-list-item-info {
    display: none;
  }
  .deleteIcon {
    height: 31px;
    background: #b7b7b759;
    width: 31px;
    border-radius: 50%;
    margin-top: 8px;
  }
  .donot-display {
    display: none;
  }
  .close-icon {
    position: absolute;
    left: 207px;
    top: -16px;
  }
  .close-icon svg {
    height: 30px;
    width: 20px;
  }
  .image-name {
    height: 45px;
    padding: 11px;
    border: solid 1px #a9b0b3;
    border-radius: 3px;
  }
  .userDp {
    width: 200px;
    height: 200px;
  }
  .photo-wrapper {
    float: left;
  }

  .uploading-docs-btn {
    width: 140px;
  }

}
#root {
  .ant-btn[disabled] {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border: 1px solid;
    border-color: #aab0b3;
    text-shadow: none;
    box-shadow: none;
  }
}
